.game {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.messages {
  margin: 0 2em;
}

.newGameButtons {
  display: flex;
  flex-direction: column;
}

.thudBoardWrapper {
  display: flex;
}
