.thudSquare .selectable .piece,
.thudSquare .canHurlHere .piece,
.thudSquare .canCaptureHere .piece,
.thudSquare .canMoveHere {
  cursor: pointer;
}

.thudSquare .light {
  background-color: aliceblue;
  color: black;
  height: 100%;
}

.thudSquare .dark {
  background-color: darkolivegreen;
  color: white;
  height: 100%;
}

.thudSquare .selected {
  background-color: tomato;
}

.thudSquare .lastMoveFrom {
  background-color: darkgoldenrod;
}

.thudSquare .lastMoveTo {
  background-color: goldenrod;
}

.thudSquare .canMoveHere {
  background-color: darkorange;
}

.thudSquare .canHurlHere {
  background-color: darkred;
}

.thudSquare .hasCaptureRisk {
  background-color: firebrick;
}

.thudSquare .canCaptureHere {
  background-color: maroon;
}

.thudSquare .label {
  font-size: 0.7em;
  text-align: start;
  position: absolute;
  cursor: default;
}
