.thudBoard {
  display: flex;
  flex-direction: column;
  outline: 5px solid slategrey;
}

.thudRow {
  display: flex;
}

.thudSquare {
  min-width: 4em;
  min-height: 4em;
  border: 1px solid darkslateblue;
}

.thudSquare.light {
  background-color: aliceblue;
  color: black;
}

.thudSquare.dark {
  background-color: darkolivegreen;
  color: white;
}

.thudSquare .label {
  text-align: start;
}

.thudSquare .piece {
  font-weight: bold;
  font-size: 1.4em;
}

.thudSquare .piece.dwarf {
  background-color: saddlebrown;
}

.thudSquare .piece.troll {
  background-color: darkgreen;
}
