.thudSquare {
  overflow: hidden;
  width: 3em;
  height: 3em;
}

.thudSquare.light {
  background-color: aliceblue;
  color: black;
}

.thudSquare.dark {
  background-color: darkolivegreen;
  color: white;
}

.thudSquare.selectable {
  cursor: pointer;
}

.thudSquare.selected {
  background-color: tomato;
}

.thudSquare.lastMoveFrom {
  background-color: darkgoldenrod;
}

.thudSquare.lastMoveTo {
  background-color: goldenrod;
}

.thudSquare.canMoveHere {
  background-color: darkorange;
  cursor: pointer;
}

.thudSquare.canHurlHere {
  background-color: darkred;
  cursor: pointer;
}

.thudSquare.hasCaptureRisk {
  background-color: darkred;
  cursor: pointer;
}

.thudSquare.canCaptureHere {
  background-color: darkred;
  cursor: pointer;
}

.thudSquare .label {
  text-align: start;
  position: absolute;
  cursor: default;
}
