.thudBoard {
  display: flex;
  flex-direction: column;
  outline: 5px solid slategrey;
}

.thudRow {
  display: flex;
}

.thudSquare {
  min-width: 4em;
  min-height: 4em;
  border: 1px solid darkslateblue;
}

.thudSquare.light {
  background-color: aliceblue;
  color: black;
}

.thudSquare.dark {
  background-color: darkolivegreen;
  color: white;
}

.thudSquare.dark.canMoveHere,
.thudSquare.light.canMoveHere {
  background-color: darkorange;
  cursor: pointer;
}

.thudSquare .label {
  text-align: start;
  position: absolute;
}

.thudSquare .piece {
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.thudSquare .piece.dwarf {
  background-color: saddlebrown;
}

.thudSquare .piece.troll {
  background-color: darkgreen;
}

.thudSquare.selected .piece {
  background-color: tomato;
}
